{% extends 'main.html' %}

{% block content %}
    <div class="container-fliud mx-auto text-center">
        <form method="POST" action="">
            {% csrf_token %}
            <p class="text-body-info my-5">are you sure you want to delete "{{obj}}"? </p>
            
            <a class="btn btn-outline-primary" href="{{request.META.HTTP_REFERER}}" role="button">Go back</a>
            <input class="btn btn-danger mx-2" type="submit" value="Confirm">
        
        </form>
        <!-- <form method="POST" action="">
            {% csrf_token %}
            <p>Are you sure you want to delete {{obj}} ?</p>
            <a href="{{request.META.HTTP_REFERER}}">
                <button class="btn btn-outline-primary">Go back</button>
            </a>
            <button class="btn btn-danger mx-2">Confirm</button>
        </form> -->
    </div>
    

{% endblock %}